@use "global" as *;

.p-card{
  width: 100%;
  border-radius: rem(8);
  background-color: $white;
}

.p-card__img{
  width: 100%;
  aspect-ratio: 334 / 330;
}

.p-card__img img {
  border-top-left-radius: rem(10);
  border-top-right-radius: rem(10);
}

.p-card__body{
  width: 100%;
  padding: rem(20) rem(20) rem(36);

  border-bottom-left-radius: rem(10);
  border-bottom-right-radius: rem(10);
}

.p-card__text{
  font-family: $ja-font-family;
  font-size: rem(14);
  font-weight: $regular;
  letter-spacing: 0;
  line-height: calc( 21 / 14);
  color: $black;
}